
<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Your cake</h1>
    </ion-header-bar>
    <ion-content>
        <div class="modal-details" ng-repeat="(key, val) in currentFav">
            <!-- <div class="row">
                <h3 class="message-input col">{{key}}</h3>
            </div> -->
            
         <!-- <br /> -->
              	<!-- <ul class="message-input row">
              		<li ng-repeat="(k, v) in val">
              			{{k}}:{{v}}
              		</li>
              	</ul> -->
            <div class="" ng-repeat="(k, v) in val">
                <h3 class="col-25">
                    {{k}}
                </h3>
                <div class="row" ng-repeat="(k, v) in v">
                	<p class="col-33" >
                    {{k}}
                	</p>
                	<p class="col-33" >
                    {{v}}
                	</p>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col">
            <button type="button" class="button button-block button-positive" ng-click="closeModal()">Return</button>
        </div>
        <div class="col">
            <button type="button" class="button button-block button-positive" ng-click="orderCake()">Re-order</button>
        </div>
        </div>

    </ion-content>
</ion-modal-view>
