
<ion-modal-view>
    <ion-header-bar>
        <h1 class="title"><i class="icon ion-close-round" ng-click="closeModal()"></i>Your cake</h1>
    </ion-header-bar>
    <ion-content>
        <img class="modal-image" ng-src="data:image/jpeg;base64, {{imageUrl}}" ng-show="hasImage">
        <div class="modal-details" ng-repeat="(key, val) in currentFav">
            <!-- dont show the image text -->
            <div class="modal-item-holder" ng-repeat="(K, v) in val track by $index" ng-hide="K === 'image'">
                <div class="row">
                    <div class="col col-33" ng-hide="key === 'image'">
                        <h4 class="message-input key-title ">
                            {{K}}
                        </h4>   
                    </div>
                    <div class="col " ng-class="checkType(K)" ng-repeat="(k, v) in v track by $index" ng-hide="K === 'address'" >
                        <p class=" key" ng-if="k !== 'text'" > <!-- show if the key is not 'text' -->
                        {{k}}
                        </p>
                        <p class="text-single key" ng-if="k == 'text'"> <!-- show if the key is text -->
                        {{v}}
                        </p>
                        <p class="text val" ng-if="k !== 'text'" > <!-- show if the key is not text -->
                        {{v}}
                        </p>
                    </div>
                    <div class="col" ng-show="K === 'address'">
                        <div class="col "  >
                            <p class="text-single val"> <!-- show if the key is not text -->
                                {{v}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
            <button type="button" class="button button-block button-positive" ng-click="closeModal()">Return</button>
        </div>
        </div>

    </ion-content>
</ion-modal-view>
