<ion-view view-title="Home">
	<ion-content>
		<!-- <div class="row"> -->
			<img src="img/images/occassin-wide.png" alt="" width="100%" height="190px">
		<!-- </div> -->
		<div class="landing-holder">
			<p class="caske">
				Welcome to Cakes By Ali. Here you can create your own custom cake
				for any occassion. Choose your cake type, flavours and topping and your cake is made.
			</p>
			<br />
			<p>
				Start building or select a cake from the gallery
			</p>
		</div>
		<div class="row">
			<div class="col">
				<button type="button" class="button button-block button-positive" ng-click="startBuilding()">Start Building</button>
			</div>
			<div class="col">
				<button type="button" class="button button-block button-positive" ng-click="gotoTemplates()">Templates</button>
			</div>
			
		</div>
    </ion-content>
</ion-view>
        