<ion-modal-view>
    <ion-header-bar>
        <h1 class="title"><i class="icon ion-close-round" ng-click="closeModal()"></i>Your cake</h1>
    </ion-header-bar>
    <ion-content>
        <img ng-src="data:image/jpeg;base64, {{image}}"  width="100%" height="400px" ng-show="hasImage">
        <div class="" ng-repeat="(key, val) in userCake">
            <!-- dont show the image text -->
            <div class="row modal-item-holder" ng-hide="(key === 'image' || key === 'address') || (key === 'message' && !hasMessage)">
                <div class="col col-33" >
                    <h4 class="message-input key-title ">
                        {{key}}
                    </h4>   
                </div>
                <div class="col " ng-class="checkType(k)"  ng-repeat="(k, v) in val track by $index" >
                    <p class=" key" ng-if="k !== 'text'" > <!-- show if the key is not 'text' -->
                    {{k}}
                    </p>
                    <p class="text-single key" ng-if="k == 'text'"> <!-- show if the key is text -->
                    {{v}}
                    </p>
                    <p class="text val" ng-if="k !== 'text'" > <!-- show if the key is not text -->
                    {{v}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row modal-item-holder" ng-show="hasAddress" >
            <div class="col col-33" >
                <h4 class="message-input key-title ">
                   Address
                </h4>   
            </div>
            <div class="col col-67"  >
                <p class="text-single val"> <!-- show if the key is not text -->
                {{address}}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
            <button type="button" class="button button-block button-positive" ng-click="closeModal()">Edit</button>
        </div>
        <div class="col">
            <button type="button" class="button button-block button-positive" ng-click="orderCake()">Enquire</button>
        </div>
        </div>
    </ion-content>
</ion-modal-view>
