<ion-view view-title="templates">
	<ion-content>
		<div class="row">
			<p class="intro-p">Please select a cake from the options below to begin customising your cake</p>
		</div>
		<div class="template"  ng-repeat="tier in tiers">
			<img src="img/galleryTemplates/landing1.jpeg" width="100%" height="190px" alt="">
			<div class="row template-descrption">
				<div class="col" ng-click="gotoBuild(tier.Options.NumLayers)">
					<h4 >{{tier.Name}}</h4>
					<i class="icon ion-chevron-right template-chevron"></i>
				</div>
			</div>
		</div>
    </ion-content>
</ion-view>
        